:root {
    --header-bg: #0e0e0e;
    --footer-bg: #333;
    --btn-bg: #ff9900;
    --btn-hover: #cc7a00;
    --text-color: #333;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: var(--header-bg);
    color: #fff;
    padding: 20px;
    font-size: 24px;
}

.subtitulo {
    font-size: 18px;       /* Ajuste o tamanho conforme sua preferência */
    color: #ff9900;        /* Escolha uma cor que complemente sua identidade visual */
    margin-top: 5px;
    font-weight: 500;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.ebook {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
}

.ebook img {
    width: 150px;
    margin-right: 20px;
}

.info {
    max-width: 500px;
    text-align: left;
    margin-bottom: 10px;
}

.info p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.botao {
    display: inline-flex;
    align-items: center;
    background-color: var(--btn-bg);
    color: white;
    padding: 15px 25px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.3s ease;
}

.botao:hover {
    transform: scale(1.05);
    background-color: var(--btn-hover);
}

.botao img.amazon-logo {
    width: 20px;
    height: auto;
    margin-right: 8px;
    object-fit: contain;
}


/* Estilização para o logotipo da Amazon dentro do botão */
.amazon-logo {
    width: 16px !important;
    height: auto;
    margin-right: 8px;
    object-fit: contain;
}


footer {
    background-color: var(--footer-bg);
    color: white;
    padding: 10px;
    margin-top: 20px;
}

.sobre-livros {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.sobre-livros h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: var(--header-bg);
    margin-bottom: 20px;
}

.sobre-livros p {
    font-size: 18px;
    color: var(--text-color);
    line-height: 1.6;
}

@media (max-width: 768px) {
    .ebook {
        flex-direction: column;
        text-align: center;
    }
    
    .ebook img {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .ebook img {
        width: 120px;
    }

    .botao {
        padding: 10px 20px;
        font-size: 16px;
    }
}
